.icon {
    font-size: 25px;
    color: #fff;
     background-color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    margin: 5px;
}
.bg1 {
    background-color: #fff;
}
.bg2 {
    background-color: #000;
}
.bg3 {
    background-color: #000;
}

input {
    outline: none;
    border: none;
}

button, input {
    overflow: visible;
}
